body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}



h1{
    font-family:sans-serif;
    background-color: black;
    padding:50px;
    color:white;
    
}

.cont{
    
    margin-left:200px;
    margin-top:150px;
}